[submodule "go/go-workshop-practical"]
	path = go/go-workshop-practical
	url = https://github.com/infinityworks/go-workshop-practical
[submodule "c#/c-sharp-basics"]
	path = "c#/c-sharp-basics"
	url = https://github.com/PacktPublishing/C-sharp-Basics-for-Absolute-Beginners-in-C-Sharp-and-dot-NET.git
[submodule "js/chrome-extensions/ms-stream-transcript-extractor"]
	path = js/chrome-extensions/ms-stream-transcript-extractor
	url = https://github.com/vullnetyy/stream-transcript-extractor-extension.git
[submodule "js/chrome-extensions/ms-teams-live-caption-saver"]
	path = js/chrome-extensions/ms-teams-live-caption-saver
	url = https://github.com/Zerg00s/Live-Captions-Saver.git
[submodule "py/playwright/docker-playwright-vnc"]
	path = py/playwright/docker-playwright-vnc
	url = https://github.com/Booza1981/docker-playwright-vnc
