#!/bin/bash

GEMINI_API_KEYS[0]=""
GEMINI_API_KEYS[1]=""
GEMINI_API_KEYS[2]=""
GEMINI_API_KEYS[3]=""
GEMINI_API_KEYS[4]=""
GEMINI_API_KEYS[5]=""

GEMINI_KEY_ID[0]="account1"
GEMINI_KEY_ID[1]="account2"
GEMINI_KEY_ID[2]="account3"
GEMINI_KEY_ID[3]="account4"
GEMINI_KEY_ID[4]="account5"
GEMINI_KEY_ID[5]="account6"

# Seed the random generator with the current epoch
RANDOM=$(date +%s)

# Pick a truly random index based on that seed
index=$(( RANDOM % ${#GEMINI_API_KEYS[@]} ))

echo "Randomly selected: ${GEMINI_KEY_ID[$index]}"

export GEMINI_API_KEY="${GEMINI_API_KEYS[$index]}"
