name: Run VSCode Ext Stats

on:
  workflow_dispatch:
  #schedule:
    # Runs daily at 1 AM GMT+8 (which is 5 PM UTC the previous day)
    #- cron: '0 17 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout vscode-ext-stats branch
      uses: actions/checkout@v4
      with:
        ref: vscode-ext-stats

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' # Use the desired Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Run main.py and save output to file
      id: run_script
      run: |
        LOG_FILE_NAME=$(date +%Y-%m-%d).log
        python main.py > "$LOG_FILE_NAME"
        echo "LOG_FILE_NAME=$LOG_FILE_NAME" >> "$GITHUB_OUTPUT"

    - name: Upload output log as artifact
      uses: actions/upload-artifact@v4
      with:
        name: vscode-ext-stats-output
        path: ${{ steps.run_script.outputs.LOG_FILE_NAME }}

    - name: Configure Git
      if: success() && steps.run_script.outputs.LOG_FILE_NAME
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Commit and Push Log
      if: success() && steps.run_script.outputs.LOG_FILE_NAME
      run: |
        LOG_FILE_NAME=${{ steps.run_script.outputs.LOG_FILE_NAME }}
        git add "$LOG_FILE_NAME"
        git commit -m "Add workflow run log for $(date +%Y-%m-%d)" || echo "No changes to commit"
        git push origin vscode-ext-stats
